body {

  background-image: url("../static/image/announcemnts.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
h2#baslika{
	height:10px; text-align: left; color:black; margin-left:2cm;
}
input#degisima{
	position:relative; left:6%;margin-top:2%; color: black;
}
input#eklemea{
	position:relative; left:6%;margin-top:2%; color: black;
}
table#t01 {
    width:20%;
    align:left;
    margin-top:1cm;
    left:5%;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: center;
}
table#t01 tr:nth-child(even) {
    background-color: #eee;
}
table#t01 tr:nth-child(odd) {
   background-color:#fff;
}
table#t01 th	{
    background-color: black;
    color: white;
}