body {

  background-image:url("../static/image/bcyy.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
h2#baslikas{
	height:10px; text-align: center;
}
div#arama{
	text-align:right; height:15px; margin-top:-5%;
}
input#silmeas{
	position:relative; left: 68%;margin-top:2%; color: black;
}
input#degisimas{
	position:relative; color:black; background-color:buttonface; left: 68%;margin-top:2%;
}
input#ekleme{
	position:relative; left:19%;margin-top:2%; color: black;
}
table#t01 {
    width:50%;
    align:center;
    margin-top:1cm;
    margin-left:8cm;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: center;
}
table#t01 tr:nth-child(even) {
    background-color: #eee;
}
table#t01 tr:nth-child(odd) {
   background-color:#fff;
}
table#t01 th	{
    background-color: black;
    color: white;
}