/* body{ */
/* 	 background-color: #008080; */
	 
/* } */
/* exp { */
    
/*     font-size: 18px; */
/*     position: absolute; */
/*     top: 20px; */
/*     left:100px; */
/*     width: 700px; */
/*     height: 320px; */
    
/* } */
/* #comment{ */
	
/* 	position: absolute; */
/* 	top: 400px; */
/* 	 left:100px; */
/* 	height: 150px; */
/* 	width: 800px; */
/* } */

/* #cmmnt{position: absolute; top: 380px; left:100px; */
/* 	} */
/* #sbmt{position: absolute; left:100px;; top: 550px; */
/* 	} */
