body {
  background-image: url("../static/image/bcyy.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
  color: #6F6F6F;
  font-family: 'Droid Sans', 'Helvetica', 'sans';
  font-size: 12pt;
  margin: 2ex 2em;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    margin-left:2cm;

}

th, td {
    padding: 15px;
    text-align: left;
}

#t01 {
    width: 50%;
     padding: 15px;
    background-color: #f5614e;
}
#t02 {
    width: 80%;
     padding: 15px;
    background-color: #F7D358;
}

h1, h2, h3, h4 {
  color: #E9601A;
}

a {
  color: #6F6F6F;
  text-decoration: underline;
  font-size: 12pt;
}

nav li{
	display: inline;
	margin-right: 1em;
	font-size: 80%;
}

footer2 {
    background-color:black;
    color:white;
    clear:both;
    text-align: right;
    padding:5px;
    font-size: 100%;
}


footer {
	font-size: 100%;
    text-align: right;
}
.navbar.navbar-inverse {
   background-color: transparent;
   background: transparent;
   border-color: transparent;
}

.navbar li { color: #000 }
  .carousel-inner .item img,
  .carousel-inner .item a img {
      width: 70%;
      max-height: 400px;
      margin: auto;
  }