{% extends "layout.html" %}
{% block title %}Activity Edit Form{% endblock %}
{% block content %}
    {% set key = request.path.split('/')[-2] %}
    {% set action = url_for('activity_page', key=key) if activity else url_for('activities_page') %}
    {% set title = activity.title if activity else '' %}
    {% set activity_type = activity.activity_type if activity else '' %}
    {% set founder = activity.founder if activity else '' %}
    {% set time = activity.time if activity else '' %}
    {% set place = activity.place if activity else '' %}
    {% set activity_info = activity.activity_info if activity else '' %}

   <form action="{{ action }}" method="post">
      <table>
        <tr>
          <th>Title:</th>
          <td>
          	 <input type="text" name="title" value="{{ title }}" required autofocus />
          </td>
        </tr>
        <tr>
          <th>Activity Type:</th>
          <td>
           <input type="text" name="activity_type" value="{{ activity_type }}" />
          </td>
        <tr>
        <tr>
          <th>Founder:</th>
          <td>
           <input type="text" name="founder" value="{{ founder }}" required autofocus/>
          </td>
        </tr>
        <tr>
          <th>Time:</th>
          <td>
           <input type="text" name="time" value="{{ time }}" />
          </td>
        </tr>
         <tr>
          <th>Place:</th>
          <td>
           <input type="text" name="place" value="{{ place }}" />
          </td>
        </tr>
         <tr>
          <th>Activity Information:</th>
          <td>
           <input type="text" name="activity_info" value="{{ activity_info }}" />
          </td>
        </tr>
      </table>
      <input value="Save" name="save" type="submit" />
    </form>
{% endblock %}