<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet"
	href="{{ url_for('static', filename='teams.css') }}" />
<meta charset="UTF-8">
{% extends "layout.html" %}
{% block title %}Activity List{% endblock %}
{% block content %}
<body>
<h2>Activity Home Page</h2>
   <form action="{{ url_for('activities_page') }}" method="post">
     <table id="searchTable" style= "width: 45%">
	 <tr>
   	  <th> <input type="search" name="search" placeholder="Search an Activity" value="{{search}}"> </th>
	  <th> <input type="submit" value="Search" name="submit"> </th>
       </tr>
	  </table>
      <table id="teamTable" style = "width:45%">
       <tr>
		    <th id="empty_column"> </th>
		    <th>Name</th>
		    <th>Activity Type</th>
		    <th>Founder</th>
		    <th>Participants</th>
		    <th>Member Count</th>
		    <th>Time</th>
		    <th>Place</th>
		    <th>Activity Information</th>
		 </tr>
        {% for key, activity in activities %}
        <tr>
          <td> <input type="checkbox" name="activities_to_delete" value="{{ key }}" /> </td>
          <td> <a href="{{ url_for('activity_page', key=key) }}"> {{ activity.title }} </a> </td>
          <td> {{ activity.activity_type }} </td>
          <td> {{ activity.founder }}</td>
          <td> {{ activity.participants }}</td>
          <td> {{ activity.participant_count }}</td>
          <td> {{ activity.time }}</td>
          <td> {{ activity.place }}</td>
          <td> {{ activity.activity_info }}</td>
        </tr>
        {% endfor %}
        <tr>
        <th id="empty_column"> </th>
        <th id="empty_column"> </th>
        <th id="empty_column"> </th>
         <th id="empty_column"> </th>
        <th id="empty_column"> </th>
        <th id="empty_column"> </th>
        <th id="empty_column"> </th>
        <th id="empty_column"> </th>
      	<th> <input id="button_in_table" type="submit" value="Delete" name="submit" /> </th>
      </tr>
      </table>
    </form>
  </body>
{% endblock %}