{% extends "layout.html" %}
{% block title %}Activity Edit Form{% endblock %}
{% block content %}
<link rel="stylesheet"
	href="{{ url_for('static', filename='team.css') }}" />
    {% set key = request.path.split('/')[-2] %}
    {% set action = url_for('activity_page', key=key) if activity else url_for('activities_page') %}
    {% set title = activity.title if activity else '' %}
    {% set activity_type = activity.activity_type if activity else '' %}
    {% set founder = activity.founder if activity else '' %}
    {% set time = activity.time if activity else '' %}
    {% set place = activity.place if activity else '' %}
    {% set activity_info = activity.activity_info if activity else '' %}
<body>
   <form action="{{ action }}" method="post">
   <div id="add_region">
         <p> Title:
          	 <input id="add_label" type="text" name="title" value="{{ title }}" required autofocus /> </p>
         <p>Activity Type:
           <input id="add_label" type="text" name="activity_type" value="{{ activity_type }}" /></p>
         <p>Founder:
           <input id="add_label" type="text" name="founder" value="{{ founder }}" required autofocus/></p>
          <p>Time:
           <input id="add_label" type="text" name="time" value="{{ time }}" /></p>
          <p>Place:
           <input id="add_label" type="text" name="place" value="{{ place }}" /></p>

         <p> Activity Information:
           <input id="add_label" type="text" name="activity_info" value="{{ activity_info }}" /></p>

      <input id="save_button" value="Save" name="save" type="submit" />
      </div>
    </form>
  </body>
{% endblock %}