{% extends "layout.html" %}
{% block title %}Activity{% endblock %}
{% block content %}
<link rel="stylesheet"
	href="{{ url_for('static', filename='team.css') }}" />
<body>
    <h2>{{ activity.title }} </h2>
    <div id="invite" >
	    <h4> Invite Atheletes to This Activity </h4>
	    <form action="{{ url_for('login_page') }}">
	    	<input id="invite_button" type="submit" value="Invite Athletes">
	    </form>
	    <br/>
	    <h4> Join to This Activity </h4>
	    <form action="{{ url_for('login_page') }}">
	    	<input id="join_button" type="submit" value="Join Activity">
	    </form>
    </div>
    <table>
    <tr>
	    <th>Activity Type</th>
	    <th>Founder</th>
	    <th>Participants</th>
	    <th>Total Number of Participants</th>
	    <th>Time</th>
	    <th>Place</th>
	    <th>Activity Information</th>
	 </tr>
	 <tr>
        <td>{{ activity.activity_type }}</td>
        <td>{{ activity.founder }}</td>
        <td>{{ activity.participants }}</td>
        <td>{{ activity.participants_count }}</td>
        <td>{{ activity.time }}</td>
        <td>{{ activity.place }}</td>
        <td>{{ activity.activity_information }}</td>
      </tr>
    </table>
     <br/>
	 <a href="{{ request.path + '/edit' }}"> <input id="edit_button" type="submit" value="Edit"> </a>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <div id="comment_region">
    <h5><b>Leave a comment.</b></h5>
	<textarea id="comment" name="comment" placeholder="Enter your comment here" cols="50" rows="5" maxlength="250"></textarea>
    <form action="{{ url_for('login_page') }}">
    	<input id="comment_button" type="submit" value="Comment">
    </form>
	</div>
</body>
{% endblock %}