{% extends "layout.html" %}
{% block title %}Admin{% endblock %}
{% block content %}
    <h2>{{ admin.nickname }}</h2>
    <table>
    <tr>
        <th>Name: </th>
        <td>{{ admin.name }}</td>
      </tr>
      <tr>
        <th>Surname: </th>
        <td>{{ admin.surname }}</td>
      </tr>

       <tr>
        <th>Email: </th>
        <td>{{ admin.email }}</td>
      </tr>

      <tr>
        <th>Year of Birth: </th>
        <td>{{ admin.year }}</td>
      </tr>
    </table>
    <form action="{{ url_for('login_page') }}">
    	<input type="submit" value="Join this ??">
    </form>
{% endblock %}