{% extends "layout.html" %}
{% block title %}Admin{% endblock %}
{% block content %}
    <h2>{{ admin.title }}</h2>
    <table>
     <tr>
        <th>Score: </th>
        <td>{{ admin.score }}</td>
      </tr>
      <tr>
        <th>Founder: </th>
        <td>{{ admin.founder }}</td>
      </tr>
      <tr>
        <th>Members: </th>
        <td>{{ admin.members }}</td>
      </tr>
      <tr>
        <th>Total Number of Members: </th>
        <td>{{ admin.member_count}}</td>
      </tr>
      <tr>
        <th>Year: </th>
        <td>{{ admin.year }}</td>
      </tr>
    </table>
    <form action="{{ url_for('login_page') }}">
    	<input type="submit" value="Join this Admin">
    </form>
{% endblock %}