{% extends "layout.html" %}
{% block title %}Category Edit Form{% endblock %}
{% block content %}
 {% set key = request.path.split('/')[-2] %}
    {% set action = url_for('announcement_page', key=key) if announcement else url_for('announcements_page') %}
    {% set title = announcement.title if announcement else '' %}
    {% set text = announcement.text if announcement else '' %}

   <form action="{{ action }}" method="post">
      <table>
        <tr>
          <th>Title:</th>
          <td>
          	 <input type="text" name="title" value="{{ title }}" required autofocus />
          </td>
        </tr>
        <tr>
          <th>Text:</th>
          <td>
          	 <input type="text" name="text" value="{{ text }}" />
          </td>
        </tr>
      </table>
      <input value="Save" name="save" type="submit" />
    </form>
{% endblock %}