<!DOCTYPE html>
<html>
<meta charset="ISO-8859-1">
{% extends "layout.html" %}
{% block title %}Announcements List{% endblock %}
{% block content %}

<h2>Announcement Home Page</h2>

<form action="{{ url_for('announcements_page') }}" method="post">
      <input type="search" name="search" value="{{search}}">
	  <input type="submit" value="search" name="submit">
      <table>
        {% for key, announcement in announcements %}
        <tr>
          <td><input type="checkbox" name="announcements_to_delete"
                     value="{{ key }}" /></td>
          <td>
            <a href="{{ url_for('announcement_page', key=key) }}">
              {{ announcement.title }}  ( {{ announcement.text }})
            </a>
          </td>
        </tr>
        {% endfor %}
      </table>
      <input type="submit" value="Delete" name="submit" />
    </form>


<div class="navbar-header">
				<a class="navbar-brand" href="{{ url_for('announcement_edit_page') }}">Add announcement</a>
</div>
{% endblock %}