{% extends "layout.html" %}
{% block title %}Announcement{% endblock %}
{% block content %}
    <h2><strong>Announcement</strong></h2>
    <table>
     <tr>
        <th>Announcement Name: </th>
        <td>{{ announcement.title}}</td>
      </tr>
      <tr>
        <th>Announcement Text: </th>
        <td>{{ announcement.text}}</td>
      </tr>
    </table>
    <br><br>
 <form action="{{ request.path + '/edit' }}">
    	<input type="submit" value=" Edit">
    </form>


    <form action="{{ url_for('login_page') }}">
    	<input type="submit" value=" Add new announcement">
    </form>
{% endblock %}
