<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
{% extends "layout.html" %}
{% block title %}Basic Members List{% endblock %}
{% block content %}
<h2>Basic Member Home Page</h2>
   <form action="{{ url_for('basicmembers_page') }}" method="post">
      <table>
        {% for key, basicmember in basicmembers %}
        <tr>
          <td><input type="checkbox" name="basicmembers_to_delete"
                     value="{{ key }}" /></td>
          <td>
            <a href="{{ url_for('basicmember_page', key=key) }}">
              {{ basicmember.nickname }}
            </a>
          </td>
        </tr>
        {% endfor %}
      </table>
      <input type="submit" value="Delete" name="delete" />
    </form>
{% endblock %}