{% extends "layout.html" %}
{% block title %}Bike Edit Form{% endblock %}
{% block content %}
 {% set key = request.path.split('/')[-2] %}
    {% set action = url_for('bike_page', key=key) if bike else url_for('bikes_page') %}
    {% set model = bike.model if bike else '' %}
    {% set brand = bike.brand if bike else '' %}
    {% set size = bike.size if bike else '' %}
    {% set year = bike.year if bike else '' %}
    {% set price = bike.price if bike else '' %}
    {% set type = bike.type if bike else '' %}


     <form action="{{ action }}" method="post">
      <table>

         <tr>
          <th>Model:</th>
          <td>
          	 <input type="text" name="model" value="{{model}}"  required autofocus /><br><br>
          </td>
        </tr>
        <tr>
          <th>Brand:</th>
          <td>
           <input type="text" name="brand" value="{{brand}}"/><br><br>
          </td>
        <tr>

        <tr>
          <th>jant size:</th>
          <td>
          <input type="text" name="size" value="{{size}}" />

          </td>
        </tr>
        <tr>
          <th>Year:</th>
          <td>
         <input type="text" name="year" value="{{year}}" /><br>


          </td>
        </tr>
        <tr>
          <th>Price(TL)</th>
          <td>
           <input type="number" name="price"  value="{{price}}" required autofocus/>
          </td>
        </tr>


         <tr>
          <th>Type:</th>
          <td>
            <select name="type">
    			<option value="road">Road Bike</option>
    			<option value="mountain">Mountain Bike</option>
    			<option value="hybrid">Hybrid Bike</option>
    		    <option value="cruiser">Cruiser Bike</option>
    		    <option value="city">City Bike</option>
    		    <option value="bmx">BMX Bike</option>
    		    <option value="folding">Folding Bike</option>



 			 </select>
 			 	</td>
        </tr>




      </table>
            <br><br>




      <input value="Save" name="save" type="submit" />
    </form>


  {% endblock %}
