{% extends "layout.html" %}
{% block title %}Bike Edit Form{% endblock %}
{% block content %}
<link rel="stylesheet"
	href="{{ url_for('static', filename='team.css') }}" />
 {% set key = request.path.split('/')[-2] %}
    {% set action = url_for('bike_page', key=key) if bike else url_for('bikes_page') %}
    {% set model = bike.model if bike else '' %}
    {% set brand = bike.brand if bike else '' %}
    {% set size = bike.size if bike else '' %}
    {% set year = bike.year if bike else '' %}
    {% set price = bike.price if bike else '' %}
    {% set type = bike.type if bike else '' %}

<body>
     <form action="{{ action }}" method="post"  enctype="multipart/form-data">
     <div id="add_region">

      <p>Model: <input id="add_label" type="text" name="model" value="{{model}}"  required autofocus /></p>
      <p>Brand: <input id="add_label" type="text" name="brand" value="{{brand}}"/></p>
      <p>jant size:<input id="add_label" type="number" name="size" value="{{size}}" /></p>
      <p>Year: <input id="add_label" type="number" name="year" value="{{year}}" /> </p>
      <p>Price(TL): <input id="add_label" type="number" name="price"  value="{{price}}" required autofocus/> </p>
		<p>Bike Type:
            <select id="add_label" name="bike_type">
    			<option value="road">Road Bike</option>
    			<option value="mountain">Mountain Bike</option>
    			<option value="hybrid">Hybrid Bike</option>
    		    <option value="cruiser">Cruiser Bike</option>
    		    <option value="city">City Bike</option>
    		    <option value="bmx">BMX Bike</option>
    		    <option value="folding">Folding Bike</option>
 			 </select></p>
 			 <br/>


 		<p>Image: <input type="file" name="file" accept="image/*"  /></p>

	  <br/>
      <p><input id="save_button" value="Save" name="save" type="submit" /></p>
      </div>
	</form>
</body>
{% endblock %}
