{% extends "layout.html" %}
{% block title %}Bike Edit Form{% endblock %}
{% block content %}

     <form action="{{ url_for('bikes_page') }}" method="post">
      <table>

         <tr>
          <th>Model:</th>
          <td>
          	 <input type="text" name="model" value="{{model}}" required autofocus /><br><br>
          </td>
        </tr>
        <tr>
          <th>Brand:</th>
          <td>
           <input type="text" name="brand" value="{{brand}}"/><br><br>
          </td>
        <tr>
<!--         <tr> -->
<!--           <th>Type:</th> -->
<!--           <td> -->
<!--             <input type="text" name="type" value="{{type}}" required autofocus/><br><br> -->
<!--           </td> -->
<!--         </tr> -->
        <tr>
          <th>jant size:</th>
          <td>
          <input type="text" name="size" value="{{size}}" />

          </td>
        </tr>
        <tr>
          <th>Year:</th>
          <td>
         <input type="text" name="year" value="{{year}}" /><br>


          </td>
        </tr>
        <tr>
          <th>Price</th>
          <td>
           <input type="text" name="price"  value="{{price}}"/>
          </td>
        </tr>


         <tr>
          <th>Type:</th>
          <td>
            <select name="type">
    			<option value="road">Road Bike</option>
    			<option value="mountain">Mountain Bike</option>
    			<option value="hybrid">Hybrid Bike</option>
    		    <option value="cruiser">Cruiser Bike</option>
    		    <option value="city">City Bike</option>
    		    <option value="bmx">BMX Bike</option>
    		    <option value="folding">Folding Bike</option>



 			 </select>
 			 	</td>
        </tr>




      </table>
            <br><br>




      <input value="Save" name="save" type="submit" />
    </form>


  {% endblock %}
