{% extends "layout.html" %}
{% block title %}Category{% endblock %}
{% block content %}
{% set key = request.path.split('/')[-1] %}

<link rel="stylesheet"
	href="{{ url_for('static', filename='category.css') }}" />

<body>
    <h2 id="baslikc"><strong>Category</strong></h2><!-- style="height:10px; text-align: left; color:black; margin-left:2cm;" -->
    <table id="t01" style="align:left; left:5%">
     <tr>
        <th>Category Name: </th>
        <td>{{ category.title}}</td>
      </tr>
      <tr>
        <th>Category Type: </th>
        <td>{{ category.typee}}</td>
      </tr>
	</table>
	<h2>Topics about {{category.title}}</h2>
	<table id="t01" style="align:left; left:5% margin-top:0.05cm">
		<tr>
	    {% for den, topic in topics %}
			{% if"" ~  topic.categoryId ~ "" == key %}
	   		<td>  {{ topic.title }}	</td>
				<br>
			{% endif %}
			{% endfor %}
    </tr>
	</table>

   <form action="{{ request.path + '/edit' }}">
    	<input id="degisim" type="submit" value=" Edit">
    </form>


    <form action="{{ url_for('login_page') }}">
    	<input id="ekleme" type="submit" value=" Add new category">
    </form>
</body>
{% endblock %}
