{% extends "layout.html" %}
{% block title %}Category Edit Form{% endblock %}
{% block content %}
<link rel="stylesheet"
	href="{{ url_for('static', filename='categories.css') }}" />
{% set key = request.path.split('/')[-2] %}
    {% set action = url_for('category_page', key=key) if category else url_for('categories_page') %}
    {% set title = category.title if category else '' %}
    {% set typee = category.typee if category else '' %}
    <form action="{{ action }}" method="post">
      <table>
        <tr>
          <th>Title:</th>
          <td>
          	 <input type="text" name="title" value="{{ title }}" required autofocus />
          </td>
        </tr>

         <tr>
          <th>Type:</th>
          <td>
          	 <input  type="text" name="typee" value="{{ typee }}" />
          </td>
        </tr>
      </table><br>
      <input id="kaydet" value="Save" name="save" type="submit" /> <!-- style="position:relative; left:19%; color: black;"  -->
    </form>
{% endblock %}