{% extends "layout.html" %}
{% block title %}Category Edit Form{% endblock %}
{% block content %}
{% set key = request.path.split('/')[-2] %}
    {% set action = url_for('category_page', key=key) if category else url_for('categories_page') %}
    {% set title = category.title if category else '' %}
    {% set typee = category.typee if category else '' %}
    <form action="{{ action }}" method="post">
      <table>
        <tr>
          <th>Title:</th>
          <td>
          	 <input type="text" name="title" value="{{ title }}" required autofocus />
          </td>
        </tr>

         <tr>
          <th>Type:</th>
          <td>
          	 <input type="text" name="typee" value="{{ typee }}" />
          </td>
        </tr>
      </table>
      <input value="Save" name="save" type="submit" />
    </form>
{% endblock %}