{% extends "layout.html" %}
{% block title %}Route Edit Form{% endblock %}
{% block content %}
{% set key = request.path.split('/')[-2] %}
    {% set action = url_for('cycroute_page', key=key) if cycroute else url_for('cycroutes_page') %}
    {% set title = cycroute.title if cycroute else '' %}
    {% set username = cycroute.username if cycroute else '' %}
    {% set start = cycroute.start if cycroute else '' %}
    {% set finish = cycroute.finish if cycroute else '' %}
    {% set length = cycroute.length if cycroute else '' %}

<form action="{{ action }}" method="post">
 <table>
        <tr>
          <th>Title:</th>
          <td>
          	 <input type="text" name="title" value="{{ title }}" required autofocus />
          </td>
        </tr>
        <tr>
          <th>Username:</th>
          <td>
           <input type="text" name="username" value="{{ username }}"/>
          </td>
        <tr>
        <tr>
          <th>Start:</th>
          <td>
           <input type="text" name="start" value="{{ start }}"/>
          </td>
        </tr>
        <tr>
          <th>Finish:</th>
          <td>
           <input type="text" name="finish" value="{{ finish }}" />
          </td>
          </tr>



          <tr>
          <th>Length(km):</th>
          <td>
           <input type="number" name="length" value="{{ length }}" />
          </td>
          </tr>


      </table>
      <input value="Save" name="save" type="submit" />
    </form>
	{% endblock %}
