<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet"
	href="{{ url_for('static', filename='cycroutes.css') }}" />
<meta charset="UTF-8">
{% extends "layout.html" %}
{% block title %}Route List{% endblock %}
{% block content %}

<h2>Routes</h2>
   <form action="{{ url_for('cycroutes_page') }}" method="post">
   <table id="searchTable">
   <tr>
	  <th> <input id="keyword" type="search" name="search" placeholder="Search a Team" value="{{search}}"> </th>
	  <th> <input id="search_button" type="submit" value="Search" name="submit"> </th>
	  </tr>
	  </table>
      <table  id="cycrouteTable" style = "width:45%">
      <tr>
		    <th id="empty_column"> </th>
		    <th>Title</th>
		    <th>Username</th>
		    <th>Start:</th>
		    <th>Finish:</th>
		    <th>Length:</th>
		 </tr>
        {% for key, cycroute in cycroutes %}
        <tr>
          <td><input type="checkbox" name="cycroutes_to_delete" value="{{ key }}" /></td>
          <td><a href="{{ url_for('cycroute_page', key=key) }}">{{ cycroute.title }} </a> </td>
               <td>{{ cycroute.username }}</td>
               <td>{{ cycroute.start }}</td>
               <td>{{ cycroute.finish }}</td>
               <td>{{ cycroute.length }}</td>
   </tr>
        {% endfor %}
      <tr>
        <th id="empty_column"> </th>
        <th id="empty_column"> </th>
        <th id="empty_column"> </th>
        <th id="empty_column"> </th>
        <th id="empty_column"> </th>
        <th id="empty_column"> </th>
      	<th> <input id="button_in_table" type="submit" value="Delete" name="submit" /> </th>
      </tr>
      </table>
    </form>
 </body>
{% endblock %}