<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>


  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  
 

<link rel="stylesheet"
	href="{{ url_for('static', filename='experience_edit.css') }}" />


</head>
<body>
	<exp>
  Username:<br>
  <input type="text" placeholder="Username" name="username" >
  <br><br>
 Trail:<br><br>
  From:<br>
  <input type="text" placeholder="From" name="firstloc" >
<br>
 To:<br>
  <input type="text" placeholder="To" name="lastloc" >
  <br>
Length(km):<br>
<input type="text" placeholder="Lenght" name="length" >
<br>
Time(h):<br>
<input type="text" placeholder="Time" name="time" >
  <br><br>
	</exp>
	
<div class="container">
  
  <br><br>
  <form role="form">
    <div class="form-group">
      <label for="comment" id=cmmnt >Comment:</label>
<br>
      <textarea class="form-control" rows="10" id="comment"></textarea>
    </div>
  </form>
</div>





  <input type="submit" value="Add an experience" id=sbmt>
</form> 

<p>...</p>

</body>
</html>