<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


</head>
<form action="action_page.php">
  Username:<br>
  <input type="text" name="username" >
  <br><br>
 Trail:<br><br>
  From:<br>
  <input type="text" name="firstloc" >
<br>
 To:<br>
  <input type="text" name="lastloc" >
  <br>
Length(km):<br>
<input type="text" name="length" >
<br>
Time(h):<br>
<input type="text" name="time" >
  <br><br>

<body>

<div class="container">
  
  
  <form role="form">
    <div class="form-group">
      <label for="comment">Comment:</label>
<br>
      <textarea class="form-control" rows="5" id="comment"></textarea>
    </div>
  </form>
</div>

</body>
  <input type="submit" value="Add an experience">
</form> 

<p>...</p>

</body>
</html>