
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet"
	href="{{ url_for('static', filename='teams.css') }}" />
<meta charset="UTF-8">
    </head>
{% extends "layout.html" %}
{% block title %}Experience List{% endblock %}
{% block content %}



<body>
<h2>Experiences</h2>
   <form action="{{ url_for('experiences_page') }}" method="post">
	<table id="searchTable" >
	 <tr>
	  <th> <input id="keyword" type="search" name="search" placeholder="Search a experience" value="{{search}}"> </th>
	  <th> <input id="search_button" type="submit" value="Search" name="submit"> </th>
	  </tr>
	  </table>
      <table id="teamTable" style = "width:45%">
      <tr>
		    <th id="empty_column"> </th>
		    <th>Title</th>
		    <th>Username</th>
		    <th>Star</th>
		    <th>Finish</th>
		    <th>Period</th>
		    <th>Length</th>
	  </tr>
      	{% for key, experience in experiences %}
      <tr>
          <td><input type="checkbox" name="experiences_to_delete" value="{{ key }}" /></td>
          <td><a href="{{ url_for('experience_page', key=key) }}">{{ experience.title }}</a> </td>
          <td>{{ experience.username }}</td>
	      <td>{{ experience.start }}</td>
	      <td>{{ experience.finish }}</td>
	      <td>{{ experience.period }}</td>
	      <td>{{ experience.length }}</td>
      </tr>
        {% endfor %}

      <tr>
        <th id="empty_column"> </th>
        <th id="empty_column"> </th>
        <th id="empty_column"> </th>
        <th id="empty_column"> </th>
        <th id="empty_column"> </th>
        <th id="empty_column"> </th>
      	<th> <input id="button_in_table" type="submit" value="Delete" name="submit" /> </th>
      </tr>

	  <th>TOPMEMBERS</th>
	   <tr>

          <td>SCORE</td>
	      <td>USERNAME</td>

      </tr>
      {% for userid,count in topmembers %}
      <tr>

          <td>{{ count }}</td>
	      <td>{{ userid }}</td>

      </tr>
        {% endfor %}
      </table>
    </form>
 </body>
{% endblock %}