<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet"
	href="{{ url_for('static', filename='categories.css') }}" />
<meta charset="UTF-8">
{% extends "layout.html" %} {% block title %}Forum {% endblock %} {%
block content %}
<body style="background-color: #A9E2F3">
	<p>
		<img src="../static/image/road.png" width="1020" height="200"
			style="margin-left: 2cm">
	</p>
	<br>
	<br>
	<br>
<form action="{{ url_for('forum_page') }}" method="post">
	<h2>Announcements</h2>
	<table id="t01">
	  <tr>
    		<th>Title</th>
   			<th>Content</th>
      </tr>
      {% for key, announcement in announcements %}

        <tr>
          <td>
            <a style="color:black;" href="#">
              {{ announcement.title }}
            </a>
          </td>
          <td>
          <a style="color:black;" href="#">
               {{ announcement.text }}
            </a>
          </td>
        </tr>
        {% endfor %}
	</table>


	<h2>Topics</h2>
	<table id="t01">
	  <tr>
    		<th>Name</th>
   			<th>Content</th>
   			<th>Date</th>
   			<th>Category</th>
      </tr>
      {% for key, topic in topics %}

        <tr>
          <td>
            <a style="color:black;" href="#">
              {{ topic.title }}
            </a>
          </td>
          <td>
          <a style="color:black;" href="#">
               {{ topic.text }}
            </a>
          </td>
          <td>
               {{ topic.time }}
          </td>
             {% for key, category in categories %}
             {% if topic.categoryId == key %}
      			   <td>   {{ category.title}} </td>
             {% endif %}

             {% endfor %}
        </tr>
        {% endfor %}
	</table>



	<h2>Categories</h2>
	<table id="t01">
	  <tr>
    		<th>Name</th>
   			<th>Domain</th>
      </tr>
      {% for key, category in categories %}

        <tr>
          <td>
            <a style="color:black;" href="#">
              {{ category.title }}
            </a>
          </td>
          <td>
          <a style="color:black;" href="#">
               {{ category.typee }}
            </a>
          </td>
        </tr>
        {% endfor %}
	</table>
	</form>
	<br>
	<br>
	<br>

</body>
<!-- <script>
	function expandCollapse(showHide) {

		var hideShowDiv = document.getElementById(showHide);
		var label = document.getElementById("expand");

		if (hideShowDiv.style.display == 'none') {
			label.innerHTML = label.innerHTML.replace("[+]", "[-]");
			hideShowDiv.style.display = 'block';
		} else {
			label.innerHTML = label.innerHTML.replace("[-]", "[+]");
			hideShowDiv.style.display = 'none';

		}
	}
</script>
 -->
{% endblock %}