<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>DTB {% block title %}{% endblock %}</title>
<link rel="stylesheet"
	href="{{ url_for('static', filename='style.css') }}" />
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script
	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>

	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Byclicing</a>
			</div>
			<div>
				<ul class="nav navbar-nav">
					<li class="active"><a href="{{ url_for('home') }}">Home</a></li>
					<li><a href="{{ url_for('teams_page') }}"> List teams</a></li>
					<li><a href="{{ url_for('topics_page') }}"> Topic List</a></li>
					<li><a href="{{ url_for('races_page') }}"> Race List</a></li>
					<li><a href="{{ url_for('activity_page') }}">
							SocialActivity List</a></li>
					<li><a href="{{ url_for('racecalendar_page') }}">
							RaceCalendar</a></li>
					<li><a href="{{ url_for('topics_page') }}"> Topic List</a></li>
					<li><a href="{{ url_for('trails_page') }}"> Trails</a></li>

					<li class="dropdown"><a class="dropdown-toggle"
						data-toggle="dropdown" href="#">Score Table <span
							class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="{{ url_for('scores_page') }}">Members</a></li>
							<li><a href="#">Teams</a></li>

						</ul>
					</li>

				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="{{ url_for('login_page') }}"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
				</ul>
			</div>
		</div>
	</nav>

	{% block content %}{% endblock %}
	<footer>
		<div id="datetime">{{ current_time }}</div>
	</footer>
</body>
</html>
