<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<title>DTB {% block title %}{% endblock %}</title>
<link rel="stylesheet"
	href="{{ url_for('static', filename='style.css') }}" />
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script
	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>

	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Byclicing</a>
			</div>
			<div>
				<ul class="nav navbar-nav">
					<li class="active"><a href="{{ url_for('home') }}">Home</a></li>

					<li class="dropdown"><a class="dropdown-toggle"
						data-toggle="dropdown" href="#">Forum <span
							class="caret"></span></a>
						<ul class="dropdown-menu">
						    <li><a href="{{ url_for('forum_page') }}">Main Page</a></li>
							<li><a href="{{ url_for('category_edit_page') }}">Add Category</a></li>
							<li><a href="{{ url_for('categories_page') }}"> Category List</a></li>
							<li><a href="{{ url_for('announcements_page') }}"> Announcements</a></li>
							<li><a href="{{ url_for('topics_page') }}"> Topics</a></li>
						</ul>
					</li>
					<li><a href="{{ url_for('news_page') }}"> News</a></li>



					<li class="dropdown"><a class="dropdown-toggle"
						data-toggle="dropdown" href="#">Team & Activity <span
							class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="{{ url_for('team_edit_page') }}">Add Team</a></li>
							<li><a href="{{ url_for('teams_page') }}"> List Teams</a></li>
							<li><a href="{{ url_for('activity_edit_page') }}">Add Activity</a></li>
							<li><a href="{{ url_for('activities_page') }}">List Activities</a></li>
							<li><a href="{{ url_for('race_edit_page') }}">Add Race</a></li>
							<li><a href="{{ url_for('races_page') }}">List Races</a></li>
							<li><a href="{{ url_for('racecalendar_page') }}">RaceCalendar</a></li>
							<li><a href="{{ url_for('cycroutes_page') }}">List Routes</a></li>
							<li><a href="{{ url_for('cycroute_edit_page') }}">Add Routes</a></li>

						</ul>
					</li>








    <li class="dropdown"><a class="dropdown-toggle"
						data-toggle="dropdown" href="#">Sales<span
							class="caret"></span></a>
						<ul class="dropdown-menu">

			<li><a href="{{ url_for('bikes_page') }}">List Bikes</a></li>

			<li><a href="{{ url_for('bike_edit_page') }}">Add Bike</a></li>
	</ul>


	<li class="dropdown"><a class="dropdown-toggle"
						data-toggle="dropdown" href="#">Experience <span
							class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="{{ url_for('experiences_page') }}"> List Experience</a></li>
							<li><a href="{{ url_for('experience_edit_page') }}"> Add Experience</a></li>


						</ul>
					</li>


					<li><a href="{{ url_for('guest_page') }}"> Guest</a></li>
					     <li><a href="{{ url_for('adminpanel_page') }}"> Admin Panel</a></li>

 <ul class="nav navbar-nav navbar-right">
                {%if 'username' in session%}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{session['username']}}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{url_for('profile', username=session['username'])}}">My Profile</a></li>
                        <li><a href="{{ url_for('message_page') }}"> Messages</a></li>
						<li><a href="#">Settings</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{{url_for('logout')}}">Log out</a></li>
                    </ul>
                </li>
                {%endif%}
          </ul>


			</div>
		</div>
	</nav>
<br><br>
	{% block content %}{% endblock %}
	<footer>
		<div id="datetime">{{ current_time }}</div>

	</footer>
	<br><br>
	<footer2 >
		Copyright © bicycling.com
	</footer2>
</body>
</html>
