<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">

<title>Login Page</title>
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script
	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

 <script src="js/prefixfree.min.js"></script>

<style>
@import url(http://fonts.googleapis.com/css?family=Raleway+Dots);
@import url(http://fonts.googleapis.com/css?family=Advent+Pro:400,200,700);
@import url(http://weloveiconfonts.com/api/?family=entypo);
</style>

<link rel="stylesheet"
	href="{{ url_for('static', filename='loginstyle.css') }}" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" />


<body>
<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Byclicing</a>
			</div>
			<div>
				<ul class="nav navbar-nav">
					<li class="active"><a href="{{ url_for('home') }}">Home</a></li>


				</ul>
				<ul class="nav navbar-nav navbar-right">
					      <li><a href="{{ url_for('signup_page') }}"><span class="glyphicon glyphicon-user"></span> Sign up</a></li>
					      <ul class="nav navbar-nav navbar-right">
					</ul>
				</ul>
			</div>
		</div>
	</nav>

<nave>
<br>
<t14>Follow us:</t14><br>
 <section>
  <ul id='services'>
    <li>   <div class='entypo-facebook'></div>
      <a href="https://www.facebook.com/">Facebook</a>
    </li><hr>
    <li> <div class='entypo-twitter'></div>
      <a href="https://www.twitter.com/">Twitter</a>
    </li><hr>
    <li>
      <div class='entypo-linkedin'></div>
      <a href="https://tr.linkedin.com/">LinkedIn</a>
    </li>

  </ul>
</section>
</nave>

		<br>
		<ortamenu>
		<txt><br>
		<input type="text" placeholder="E-mail" name="txtemail"><br>
		<input type="password" placeholder="Password" name="password"><br>
		</txt>
		<input type="button" value="Log in" name="btnlogin">
		</ortamenu>


</body>

