<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">

<title>Login Page</title>
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script
	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	
	
	
<link rel="stylesheet"
	href="{{ url_for('static', filename='loginstyle.css') }}" />
	
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" />


<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
        <p class="navbar-text">BICYLING.com</p>
    </div>
     <div>
        <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        </ul>
    </div>
  </div>
</nav>



<nave>
<a href="{{ url_for('home') }}">Get back to home page</a><br><br>

Follow us:<br>
<a href="https://www.facebook.com/">Facebook</a><br>
<div class="navbar-text pull-right"></div>
<a href="https://www.twittercom/">Twitter</a><br>
</nave>


<arkaplan>
<div class="left1">
<center>
<form >
  Login with your email:<br>
  <input type="text" name="txtemail">
  <br>
  Password:<br>
  <input type="text" name="txtpassword" >
  <br><br>
  <bord>
  <input type="Submit" value="Login"></bord><br><br>
</form>
</center>
</div>



</arkaplan>
</body>

<footer>
Copyright © bicycling.com
</footer>