<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
{% extends "layout.html" %}
{% block title %}Professional Members List{% endblock %}
{% block content %}
<h2>professional Member Home Page</h2>
<link rel="stylesheet"
	href="{{ url_for('static', filename='team.css') }}" />
   <form action="{{ url_for('professionalmembers_page') }}" method="post">
    <input type="search" name="search" value="{{search}}">
	  <input type="submit" value="search" name="submit">
      <table>
        {% for key, professionalmember in professionalmembers %}
        <tr>
          <td><input type="checkbox" name="professionalmembers_to_delete"
                     value="{{ key }}" /></td>
          <td>
            <a href="{{ url_for('professionalmember_page', key=key) }}">
              {{ professionalmember.username }}
            </a>
          </td>
        </tr>
        {% endfor %}
      </table>
      <input type="submit" value="Delete" name="submit" />
    </form>
{% endblock %}