<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">

<title>Sign-Up </title>
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script
	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

 <script src="js/prefixfree.min.js"></script>
<script src="js/prefixfree.min.js"></script>
<link rel="stylesheet"
	href="{{ url_for('static', filename='loginstyle.css') }}" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" />





<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Byclicing</a>
			</div>
			<div>
				<ul class="nav navbar-nav">
					<li class="active"><a href="{{ url_for('home') }}">Home</a></li>

				</ul>
				<ul class="nav navbar-nav navbar-right">
					      <li><a href="{{ url_for('login_page') }}"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
					      <ul class="nav navbar-nav navbar-right">
					</ul>
				</ul>
			</div>
		</div>
	</nav>



  <body>

  		<headerup2><span class="  glyphicon glyphicon-user  gi-4x"></span>
  		<label class="filebutton">
		Upload a profile picture
		<span><input type="file" id="myfile" name="myfile"></span>
		</label>
  		</headerup2>


		<div class="header">
			<div>Unlock<span>Yourself</span></div>
		</div>
		<br>
		<ortamenu>
	<br>


	{% set key = request.path.split('/')[-2] %}
    {% set action = url_for('professionalmember_page', key=key) if professionalmember else url_for('professionalmembers_page') %}
    {% set name = professionalmember.name if professionalmember else '' %}
    {% set surname = professionalmember.surname if professionalmember else '' %}
    {% set username = professionalmember.username if professionalmember else '' %}
    {% set gender = professionalmember.gender if professionalmember else '' %}
    {% set email = professionalmember.email if professionalmember else '' %}
    {% set password = professionalmember.password if professionalmember else '' %}
    {% set city = professionalmember.city if professionalmember else '' %}
    {% set interests = professionalmember.interests if professionalmember else '' %}
    {% set byear = professionalmember.byear if professionalmember else '' %}
    {% set award_G = professionalmember.award_G if professionalmember else '' %}
    {% set award_B = professionalmember.award_B if professionalmember else '' %}
    {% set award_S = professionalmember.award_S if professionalmember else '' %}

	   <form action="{{ action }}" method="post">
	   <table>
		 <tr>
          <th>Name:</th>
          <td>
          	 <input type="text"   name="name" value="{{ name }}" required autofocus />
          </td>
        </tr>
        <tr>
          <th>Surname:</th>
          <td>
           <input type="text"  name="surname" value="{{ surname }}" />
          </td>
        </tr>
        <tr>
          <th>Nickname:</th>
          <td>
           <input type="text"   name="username"  value="{{ username }}"/>
          </td>
        </tr>
         <tr>
          <th>Gender:</th>
          <td>
          <select name="gender" value="{{ gender }}">
        <option value="Female">Female</option>
  		<option value="Male">Male</option>
  		</select>
  		</td>
  		</tr>
        <tr>
          <th>Email:</th>
          <td>
          	 <input type="text"  name="email"  value="{{ email }}" />
          </td>
        </tr>
        <tr>
          <th>Password:</th>
          <td>
          	 <input type="text"  name="password" value="{{ password }}" size="6" />
          </td>
        </tr>
        <tr>
          <th>Year of Birth:</th>
          <td>
           <input type="text" name="byear" value="{{ byear }}" size="4" />
          </td>
        </tr>
         <tr>
          <th>City:</th>
          <td>
           <input type="text" name="city" value="{{ city }}" />
          </td>
        </tr>
          <tr>
          <th>Main interest:</th>
          <td> <input type="text"  name="interests"  value="{{ interests }}" /></td>
        </tr>
          <tr>
          <th>Number of Gold Awards:</th>
          <td>
          <select name="award_G" value="{{ award_G }}">
        <option value="0">0</option>
  		<option value="1">1</option>
  		<option value="2">2</option>
 		<option value="3">3</option>
  		<option value="4">4</option>
  		<option value="5">5</option>
  		<option value="6">6</option>
  		<option value="7">7</option>
  		<option value="8">8</option>
  		<option value="9">9</option>
  		<option value="10">10</option>
		</select>
		   </td>
        </tr>
        <tr>
          <th>Number of Silver Awards:</th>
          <td>
          <select name="award_S" value="{{ award_S }}">
        <option value="0">0</option>
  		<option value="1">1</option>
  		<option value="2">2</option>
 		<option value="3">3</option>
  		<option value="4">4</option>
  		<option value="5">5</option>
  		<option value="6">6</option>
  		<option value="7">7</option>
  		<option value="8">8</option>
  		<option value="9">9</option>
  		<option value="10">10</option>
		</select>
		   </td>
        </tr>
        <tr>
          <th>Number of Bronze Awards:</th>
          <td>
          <select name="award_B" value="{{ award_B }}">
        <option value="0">0</option>
  		<option value="1">1</option>
  		<option value="2">2</option>
 		<option value="3">3</option>
  		<option value="4">4</option>
  		<option value="5">5</option>
  		<option value="6">6</option>
  		<option value="7">7</option>
  		<option value="8">8</option>
  		<option value="9">9</option>
  		<option value="10">10</option>
		</select>
		   </td>
        </tr>

		</table>
		<input value="Save" name="save" type="submit" />
         </form>

		</ortamenu>

    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>


		<div class="grad"></div>
		<headerdown><span class=" glyphicon glyphicon-pencil"></span>Please fill in all of the required fields</a></headerdown>
</body>

