{% extends "layout.html" %}
{% block title %}Professional Member{% endblock %}
{% block content %}
    <h2>{{ professionalmember.nickname }}</h2>
    <table>
     <tr>
        <th>Name: </th>
        <td>{{ professionalmember.name }}</td>
      </tr>
       <tr>
        <th>Surname: </th>
        <td>{{ professionalmember.surname }}</td>
      </tr>
          <tr>
        <th>Gender: </th>
        <td>{{ professionalmember.gender }}</td>
      </tr>
        <tr>
        <th>Year of Birth: </th>
        <td>{{ professionalmember.byear }}</td>
      </tr>
       <tr>
        <th>City: </th>
        <td>{{ professionalmember.city }}</td>
      </tr>
       <tr>
        <th>Interest: </th>
        <td>{{ professionalmember.interests }}</td>
      </tr>

       <tr>
        <th>Score: </th>
        <td>{{ professionalmember.score }}</td>
      </tr>
       <tr>
        <th>Number of Gold Awards: </th>
        <td>{{ professionalmember.award_G }}</td>
      </tr>
           <tr>
        <th>Number of Silver Awards: </th>
        <td>{{ professionalmember.award_S }}</td>
      </tr>
           <tr>
        <th>Number of Bronze Awards: </th>
        <td>{{ professionalmember.award_B }}</td>
      </tr>

    </table>
    <form action="{{ url_for('login_page') }}">
    	<input type="submit" value="Go to Login Page">
    </form>
{% endblock %}