{% extends "layout.html" %}
{% block title %}Race Edit Form{% endblock %}
{% block content %}
<link rel="stylesheet"
	href="{{ url_for('static', filename='team.css') }}" />
 {% set key = request.path.split('/')[-2] %}
    {% set action = url_for('race_page', key=key) if race else url_for('races_page') %}
    {% set title = race.title if race else '' %}
    {% set race_type = race.race_type if race else '' %}
    {% set founder = race.founder if race else '' %}
    {% set time = race.time if race else '' %}
    {% set place = race.place if race else '' %}
<body>
   <form action="{{ action }}" method="post">
    <div id="add_region">
         <p>Title:
          	 <input id="add_label" type="text" name="title" value="{{ title }}" required autofocus /></p>
        <p>Race Type:
          <select id="add_label" name="race_type">
         		<option value="Road Cycling"> Road Cycling </option>
         		<option value="Track Cycling"> Track Cycling </option>
         		<option value="Mountain Biking"> Mountain Biking </option>
         		<option value="Bicycle Moto-Cross"> Bicycle Moto-Cross </option>
         		<option value="Cyclo-Cross"> Cyclo-Cross </option>
         	</select> </p>
         <p>Founder:
           <input id="add_label" type="text" name="founder" value="{{ founder }}" required autofocus/></p>
         <p>Time:
           <input id="add_label" type="text" name="time" value="{{ time }}" /></p>
         <p>Place:
         <select id="add_label" name="place">
         	{% for key, cycroute in cycroutes %}
         		<option value="{{cycroute.title}}">{{cycroute.title}}</option>
        	{% endfor %}

         	</select></p>
      <input id= "save_button" value="Save" name="save" type="submit" />
      </div>
    </form>
   </body>
{% endblock %}