{% extends "layout.html" %}
{% block title %}Race{% endblock %}
{% block content %}
<link rel="stylesheet"
	href="{{ url_for('static', filename='team.css') }}" />
<body>
    <h2>{{ race.title }}
     <a href="{{ request.path + '/edit' }}"> <input id="edit_button" type="submit" value="Edit"> </a></h2>
     <div id="invite" >
	    <h4> Invite Atheletes to This Race </h4>
	    <form action="{{ url_for('login_page') }}">
	    	<input id="invite_button" type="submit" value="Invite Athletes">
	    </form>
	    <br/>
	    <h4> Join to This Race </h4>
	    <a href="{{ request.path + '/join' }}"> <input id="join_button" type="submit" value="Join Race"> </a>
    </div>
    <table>
     <tr>
	    <th>Race Type</th>
	    <th>Founder</th>
	    <th>Participants</th>
	    <th>Total Number of Participants</th>
	    <th>Time</th>
	    <th>Place</th>
	 </tr>
	 <tr>
        <td>{{ race.race_type }}</td>
        <td>{{ race.founder }}</td>
        <td>{{ race.participants }}</td>
        <td>{{ race.participant_count }}</td>
        <td>{{ race.time }}</td>
        <td>{{ race.place }}</td>
      </tr>
    </table>
    <br/>

<div class="nav-tab">
<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home" >Participants</a></li>
    <li><a data-toggle="tab" href="#menu1">Race Results</a></li>
  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <h4>Members</h4>
      <p>
      {% for key, member in members %}
         	{{member.nickname}}
         	{{member.name}}
         	{{member.surname}}
         	{{member.score}}
         	{{member.city}}
    {% endfor %}
    </p>
    </div>
    <div id="menu1" class="tab-pane fade">
      <h4>Race Results</h4>
      <p>There is no race result</p>
    </div>
  </div>
</div>
</div>

    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <div id="comment_region">
    <h5><b>Leave a comment.</b></h5>
	<textarea id="comment" name="comment" placeholder="Enter your comment here" cols="50" rows="5" maxlength="250"></textarea>
    <form action="{{ url_for('login_page') }}">
    	<input id="comment_button" type="submit" value="Comment">
    </form>
	</div>
</body>
{% endblock %}