{% extends "layout.html" %}
{% block title %}Race Edit Form{% endblock %}
{% block content %}
 {% set key = request.path.split('/')[-2] %}
    {% set action = url_for('race_page', key=key) if race else url_for('races_page') %}
    {% set title = race.title if race else '' %}
    {% set race_type = race.race_type if race else '' %}
    {% set founder = race.founder if race else '' %}
    {% set time = race.time if race else '' %}
    {% set place = race.place if race else '' %}

   <form action="{{ action }}" method="post">
      <table>
        <tr>
          <th>Title:</th>
          <td>
          	 <input type="text" name="title" value="{{ title }}" required autofocus />
          </td>
        </tr>
        <tr>
          <th>Race Type:</th>
          <td>
           <input type="text" name="race_type" value="{{ race_type }}"/>
          </td>
        <tr>
        <tr>
          <th>Founder:</th>
          <td>
           <input type="text" name="founder" value="{{ founder }}" />
          </td>
        </tr>
        <tr>
          <th>Time:</th>
          <td>
           <input type="text" name="time" value="{{ time }}" />
          </td>
        </tr>
         <tr>
          <th>Place:</th>
          <td>
           <input type="text" name="place" value="{{ place }}"/>
          </td>
        </tr>
      </table>
      <input value="Save" name="save" type="submit" />
    </form>
{% endblock %}