<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
 
<title>Score Table</title>
<ul>
 <li><a href="/">Home</a></li>
 </ul>
<link rel="stylesheet"
	href="{{ url_for('static', filename='score.css') }}" />
	<header>
<h1>Score Table</h1>
</header>







<table  style="width:100%">
  <tr>
    <th>Position</th>
    <th>Name</th>		
    <th>Length</th>
    <th>Time</th>
    <th>Velocity</th>		
    <th>Points</th>
   
  </tr>
   <tr>
    <td>1</td>
    <td>Griffin</td>
    <td>10 km</td>
    <td>1 sa</td>
    <td>10 km/sa</td>
    <td>0</td>
  </tr>
 
</table>


</html>

