<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
 
<title>Score Table</title>

<link rel="stylesheet"
	href="{{ url_for('static', filename='score.css') }}" />
	
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script
	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	
	<link rel="stylesheet"
	href="{{ url_for('static', filename='score.css') }}" />

	
</head>
<body>
<header>
<h1>Score Table</h1>
</header>


<table style="width:100%">
  <tr>
    <th>Position</th>
    <th>Name</th>		
    <th>Length</th>
    <th>Time</th>
    <th>Velocity(km/h)</th>		
    <th>Points</th>
   
  
 
</table>

</body>
</html>

