<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">

<title>Sign-Up </title>
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script
	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

 <script src="js/prefixfree.min.js"></script>
<script src="js/prefixfree.min.js"></script>
<link rel="stylesheet"
	href="{{ url_for('static', filename='loginstyle.css') }}" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" />





  <body>

  		<headerup2><span class="  glyphicon glyphicon-user  gi-4x"></span>
  		<label class="filebutton">
		Upload a profile picture
		<span><input type="file" id="myfile" name="myfile"></span>
		</label>
  		</headerup2>


		<div class="header">
			<div>Unlock<span>Yourself</span></div>
		</div>
		<br>
		<ortamenu>
		<txt><br>
		<input type="text" placeholder="First Name" name="txtname"><br>
		<input type="text" placeholder="Last Name" name="txtsurname"><br>
		<input type="text" placeholder="User name" name="txtusername"><br>
		<input type="text" placeholder="E-mail" name="txtemail"><br>
		<input type="password" placeholder="Password" name="password"><br>
			<input type="checkbox" id="female" name="cbfemale" />
		<label for="female">Female</label>
		<input type="checkbox" id="male" name="cbmale" />
		<label for="male">Male</label><br>
		</txt>
	
		
		<input type="checkbox" value="None" id="onay" name="btnonay" />
        <label for="onay">I agree the terms and conditions</label><br>
        
  		<input type="button" value="Signup" name="btnsignup"><br>
		</ortamenu>

    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

		
		<div class="grad"></div>
		<headerdown><span class=" glyphicon glyphicon-pencil"></span>Please fill in all of the required fields</a></headerdown>
</body>

