{% extends "layout.html" %}
{% block title %}Team{% endblock %}
{% block content %}
<link rel="stylesheet"
	href="{{ url_for('static', filename='team.css') }}" />
    <h2>{{ team.title }}</h2>
    <table style = "width:75%">
	 <tr>
	    <th>Name</th>
	    <th>Score</th>
	    <th>Founder</th>
	    <th>Members</th>
	    <th>Total Number of Members</th>
	    <th>Year</th>
	 </tr>
     <tr>
     	<td>{{ team.title }}</td>
        <td>{{ team.score }}</td>
        <td>{{ team.founder }}</td>
        <td>{{ team.members }}</td>
        <td>{{ team.member_count }}</td>
        <td>{{ team.year }}</td>
      </tr>
    </table>


    <p><a href="{{ request.path + '/edit' }}">Edit</a></p>

    <form action="{{ url_for('login_page') }}">
    	<input type="submit" value="Join this Team">
    </form>
{% endblock %}