{% extends "layout.html" %}
{% block title %}Team{% endblock %}
{% block content %}
    <h2>{{ team.title }}</h2>
    <table>
     <tr>
        <th>Score: </th>
        <td>{{ team.score }}</td>
      </tr>
      <tr>
        <th>Founder: </th>
        <td>{{ team.founder }}</td>
      </tr>
      <tr>
        <th>Members: </th>
        <td>{{ team.members }}</td>
      </tr>
      <tr>
        <th>Total Number of Members: </th>
        <td>{{ team.member_count}}</td>
      </tr>
      <tr>
        <th>Year: </th>
        <td>{{ team.year }}</td>
      </tr>
    </table>
    <form action="{{ url_for('login_page') }}">
    	<input type="submit" value="Join this Team">
    </form>
{% endblock %}