{% extends "layout.html" %}
{% block title %}Team Edit Form{% endblock %}
{% block content %}
    {% set key = request.path.split('/')[-2] %}
    {% set action = url_for('team_page', key=key) if team else url_for('teams_page') %}
    {% set name = team.name if team else '' %}
    {% set score = team.score if team else '' %}
    {% set founder = team.founder if team else '' %}
    {% set year = team.year if team else '' %}

    <form action="{{ action }}" method="post">
      <table>
        <tr>
          <th>Title:</th>
          <td>
          	 <input type="text" name="title" value="{{ title }}" required autofocus />
          </td>
        </tr>
        <tr>
          <th>Score:</th>
          <td>
           <input type="text" name="score" value="{{ score }}" required autofocus />
          </td>
        <tr>
        <tr>
          <th>Founder:</th>
          <td>
           <input type="text" name="founder" value="{{ founder }}"/>
          </td>
        </tr>
        <tr>
          <th>Year:</th>
          <td>
           <input type="text" name="year" size="4" value="{{ year }}" required autofocus />
          </td>
        </tr>
      </table>
      <input value="Save" name="save" type="submit" />
	</form>
{% endblock %}