<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet"
	href="{{ url_for('static', filename='teams.css') }}" />
<meta charset="UTF-8">
{% extends "layout.html" %}
{% block title %}Team List{% endblock %}
{% block content %}
<body>
<h2>Teams</h2>

   <form action="{{ url_for('teams_page') }}" method="post">
	 <table id="searchTable" >
	 <tr>
	  <th> <input id="keyword" type="search" name="search" placeholder="Search a Team" value="{{search}}"> </th>
	  <th> <input id="search_button" type="submit" value="Search" name="submit"> </th>
	  </tr>
	  </table>
	      <table id="teamTable" style = "width:45%" >
         <tr>
		    <th id="empty_column"> </th>
		    <th>Image</th>
		    <th>Name</th>
		    <th>Score</th>
		    <th>Member Count</th>
		    <th>Team Type</th>
		    <th>Year</th>
		    <th>Location</th>
		 </tr>
	        {% for key, team in teams %}
        <tr>
            <td> <input type="checkbox" name="teams_to_delete" value="{{ key }}" /></td>
            <td> <img src="../static/image/teams/{{key}}.jpg" alt="team" style="width:30px;height:30px; margin-left:5%;">  </td>
            <td> <a href="{{ url_for('team_page', key=key) }}"> {{ team.title }} </a> </td>
	        <td>{{ team.score }}</td>
	        <td>{{ team.member_count }} {{'members'}}</td>
	        <td>{{ team.team_type }}</td>
	        <td>{{ team.year }}</td>
	        <td>{{ team.location }}</td>
        </tr>
        {% endfor %}
      <tr>
        <th id="empty_column"> </th>
        <th id="empty_column"> </th>
        <th id="empty_column"> </th>
        <th id="empty_column"> </th>
        <th id="empty_column"> </th>
        <th id="empty_column"> </th>
      	<th> <input id="button_in_table" type="submit" value="Delete" name="submit" /> </th>
      </tr>
      </table>
    </form>
 </body>
{% endblock %}