{% extends "layout.html" %}
{% block title %}Topic Edit Form{% endblock %}
{% block content %}
   <form action="{{ url_for('topics_page') }}" method="post">
      <table>
        <tr>
          <th>Title:</th>
          <td>
          	 <input type="text" name="title" required autofocus />
          </td>
        </tr>
        <tr>
          <th>Text:</th>
          <td>
          	 <input type="text" name="text" />
          </td>
        </tr>
        <tr>
          <th>Time:</th>
          <td>
			 <input type="text" name="time" />
          </td>
        </tr>
        <tr>
          <th>Post:</th>
          <td>
			  <input type="text" name="post" />
          </td>
        </tr>
        <tr>
          <th>Poster:</th>
          <td>
			 <input type="text" name="poster" />
          </td>
        </tr>
      </table>
      <input value="Save" name="save" type="submit" />
    </form>
{% endblock %}