{% extends "layout.html" %}
{% block title %}Topic Edit Form{% endblock %}
{% block content %}
 {% set key = request.path.split('/')[-2] %}
    {% set action = url_for('topic_page', key=key) if topic else url_for('topics_page') %}
    {% set title = topic.title if topic else '' %}
    {% set text = topic.text if topic else '' %}

   <form action="{{ action }}" method="post">
      <table>
        <tr>
          <th>Title:</th>
          <td>
          	 <input type="text" name="title" value="{{ title }}" required autofocus />
          </td>
        </tr>
        <tr>
          <th>Text:</th>
          <td>
          	 <input type="text" name="text" value="{{ text }}"/>
          </td>
        </tr>
		  <tr>
          <th>time:</th>
          <td>
          	 <input type="text" name="text" value="{{ time }}"/>
          </td>
        </tr>


      </table>
      <input value="Save" name="save" type="submit" />
    </form>
{% endblock %}